.todo-list {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #4267B2;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input {
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    font-size: 16px;
    padding: 10px;
  }
  
  button.add-btn {
    background-color: #4267B2;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  li:hover {
    background-color: #f5f5f5;
  }
  
  .todo-text {
    font-size: 20px;
  }
  
  .btn-group {
    display: flex;
  }
  
  button.edit-btn {
    background-color: #f0ad4e;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px;
  }
  
  button.delete-btn {
    background-color: #d9534f;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }
  