@tailwind base
@layer base {
    html {
        @apply m-0 p-0 border-b
    }

    body {
        @apply font-sans bg-black text-black min-h-screen
    }

    button {
        @apply cursor-pointer
    }
}
